body{
    background-color: #e5e5e5 !important;
}

#small_line{
    width: 100%;
    margin-top: 5px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.services{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.columns{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center{
    text-align: center !important;
}

.tbl-wrap{
    overflow-x: scroll;
}

.table{
    border-collapse: collapse;
    margin-bottom: 1rem;
    color: #212529;
    min-width: 1000px !important;
    width: 100%;
}

.tbl-border{
    border: 1px solid #dee2e6;
}

.bg{
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.centered{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.InputStyle{
    border-radius: 25px;
}


      
.secondLine{
    font-weight: 350;
    font-size:15px;
    margin-bottom: 15%;
    color: white;
}
      
.firstLine{
    font-size: 30px;
    color: white;
}
      
@media only screen and (max-width: 600px) {
    .firstLine{
    font-size: 20px;
    }
}