<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  <div class="container-fluid position-fixed p-1 sticky">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto py-0 " >
          <li><a href="index.html" class="nav-item nav-link ">Inicio</a></li>
          <li><a href="aboute_me.html" class="nav-item nav-link">Acerca de mi</a></li>
          <li><a href="services.html" class="nav-item nav-link active">Servicios</a></li>
          <li><a href="contact.html" class="nav-item nav-link">Contacto</a></li>
        </ul>
      </div>
    </nav>
    <hr id="small_line">
  </div>
     
      <div class="container1">
      </div>

      <div class="container-fluid services" >
        <div class="services">
          <div class="columns">
            <h4 class="text-center mb-4">
              Experiencia
            </h4>
            <div class="tbl-wrap">
              <table class="table tbl-border txt-center">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Herramientas</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>NicaLancing</td>
                    <td>Mayo-25/2021 - Julio-29/2021</td>
                    <td>Javascript, HTML, Express.js</td>
                    <td>Proyecto final del curso CS50x.ni</td>
                  </tr>
                  <tr>
                    <td>Sistema contable para una Ferreteria</td>
                    <td>Octubre-23/2021 - Diciembre-6/2021</td>
                    <td>C#, Sql Server</td>
                    <td>Una aplicación de escritorio utilizando WinForms, Bunifu.UI que permitira generar facturas, reportes, ingreso de empleados y control de inventarios</td>
                  </tr>
                  <tr>
                    <td>Editor Markdown</td>
                    <td>Septiembre-01/2021 - Septiembre-25/2021</td>
                    <td>Electron.js, TypeScript</td>
                    <td>Una aplicación de escritorio cuya funcionalidad es servir como editor para archivos MD como README.md con una interfaz al lado que permite visualizar lo escrito en tiempo real</td>
                  </tr> 
                  <tr>
                    <td>SMOU</td>
                    <td>Dic-17/2021 - Marzo-01/2022</td>
                    <td>Xamarin.NET, C#</td>
                    <td>Aplicación para Barcelona, España. En conjunto con un grupo de desarrolladores migramos la aplicación a Xamarin e implementamos nuevas actualizaciones y mantenimiento a la aplicación</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>